body {
  font-size: 20 px;
  text-align: center;
  color: #f5f2f2;
  background-color: #f5f2f2;
  margin: 20px;
  text-align: justify;
}

#navbar {
  top: 20px;
  width: 300px;
  height: 100%;
  position: fixed;
  min-width: 290px;
  background-color: #5e5a5a;
  left:0;
  top: 0;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  
}

header {
  color: #FFFFFF;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  text-transform: uppercase;
}

#main-doc header {
  text-align: left;
  color: #5e5a5a;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

#navbar li {
  color: #FFFFFF;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #AFAEAE;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 320px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #5e5a5a;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #5e5a5a;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    height: 250px;
  }

  #navbar {
    background-color: #FE4365;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  code {
    margin-left: -20px;
    width: 100%;
    padding:15px;
    margin:10px;
    padding-left: 20px;
    padding-right: 50px;
    min-width: 233px;
  }
}