@import url('https://fonts.googleapis.com/css?family=Poppins');
html{
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: #f5f2f2;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
  width: 400px;
  height: 500px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.box h2{
  text-align: center;
}
.box label {
  font-size: 12px;
}
.box .row {
  margin: 10px -15px;
}
.box .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.box .col_half {
  width: 50%;
  float: left;
}
.box .input_field {
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.box input[type="text"], .box input[type="email"], .box input[type="password"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.box input[type="text"]:hover, .box input[type="email"]:hover, .box input[type="password"]:hover {
  background: #fafafa;
}
.box input[type="text"]:focus, .box input[type="email"]:focus, .box input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5f2f2;
  background: #fafafa;
}
.box input[type="submit"] {
  background: #E5E5E5;
  padding: 12px;
  border-radius: 10px;
  width: 50%;
  border: 1px solid #5e5a5a;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 17px;
  align-content: center;
  color: #5e5a5a;
  font-size: 1em;
  margin-left: 25%;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.box input[type="submit"]:hover {
  background: #5e5a5a;
  color: #ffffff;
}
.box input[type="submit"]:focus {
  background: #f5f2f2;
}
.box input[type="checkbox"], .box input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  line-height: 1.6;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.box .row .col_half.last {
  border-left: 1px solid #819FF7;
  text-align:left
}

.checkbox_option label {
  margin-right: 1em;
  position: relative;
}
.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #cccccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.checkbox_option label:after {
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.checkbox_option input:hover + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #000000;
}

.radio_option label {
  margin-right: 1em;
}
.radio_option label:before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 1.0em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #cccccc;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.radio_option input:hover + label:before {
  border-color: #000000;
}
.radio_option input:checked + label:before {
  background-color: #000000;
  border-color: #000000;
}

.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000000;
  background: #fafafa;
  border-color: #000000;
  outline: none;
}